<nz-layout class="app-layout">
    <nz-sider class="menu-sidebar"
      nzCollapsible
      nzWidth="256px"
      nzBreakpoint="md"
      [(nzCollapsed)]="isCollapsed"
      [nzTrigger]="null">
      <div class="sidebar-logo">
          <img src="../assets/logo_headphone.jpg" alt="logo">
          <h1>TicketFacile</h1>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline"  [nzInlineCollapsed]="isCollapsed">
        <li nz-submenu nzOpen nzTitle="Dashboard" nzIcon="dashboard" >
          <ul>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/home">Accueil</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/tickets" >Tickets</a>
            </li>
            <li nz-menu-item nzMatchRouter>
              <a routerLink="/calls" >Enregistrement des Appels</a>
            </li>
          </ul>
        </li>
      </ul>
    </nz-sider>


    <nz-layout>
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <span class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></span>
          </span>
          <div class="user-zone">
            <div class="notification">
              <nz-badge [nzCount]="notifications.length" nz-popover
                        nzPopoverTitle="Title"
                        [nzPopoverContent]="contentTemplate"
                        nzPopoverPlacement="rightBottom">
                <a class="head-example"></a>
              </nz-badge>
            </div>
            <div (click)="logout()" nzTooltipTitle="Se déconnecter" nz-tooltip class="logout">
              <span nz-icon nzType="logout" nzTheme="outline" ></span> {{userConnected.name}} ( <span [ngStyle]="{'color':userConnected.role === '1' ? 'green' : 'red' }">{{userConnected.role == 1 ? 'Agent':'Supervisor'}}</span> )
            </div>
          </div>
        </div>
      </nz-header>
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
        </div>
      </nz-content>
    </nz-layout>
  </nz-layout>

<ng-template #contentTemplate>
  @for (notif of notifications; track notif?.id){
  <div>
    {{notif.ticketType}}
    {{notif.subject}}
    {{notif.date | date}}
  </div>
  }
</ng-template>
