.filter{
    border: 2px dashed #CE93D8;
    background: #F3E5F5;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
    font-size: 20px;
    color: purple;
    text-transform: uppercase;
}