<div class="back">
  <button nz-button nzType="primary" [nzSize]="'large'" nzShape="circle" (click)="goBack()">
    <span nz-icon nzType="arrow-left" nzTheme="outline"></span>
  </button>
</div>
<div class="ticket-container">
  <form [formGroup]="ticketForm" (ngSubmit)="onSubmitTicket()">
    <div class="form-group">
      <label for="sujet">Ticket:</label>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Sélectionnez un ticket" formControlName="ticketStatus">
        <nz-option nzLabel="En cours" nzValue="En cours"></nz-option>
        <nz-option nzLabel="Résolu" nzValue="Résolu"></nz-option>
        <nz-option nzLabel="Annulé" nzValue="Annulé"></nz-option>
      </nz-select>
      <div *ngIf="formTicket['ticketStatus']?.invalid && isSubmitTicketForm" class="error">
        <small *ngIf="formTicket['ticketStatus'].errors">Ticket is required.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="sujet">Sujet:</label>
      <input type="text" formControlName="sujet" id="sujet" class="form-control">
      <div *ngIf="formTicket['sujet']?.invalid && isSubmitTicketForm" class="error">
        <small *ngIf="formTicket['sujet'].errors">Sujet is required.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="associer">S'associer à:</label>
      <nz-select nzShowSearch nzAllowClear nzPlaceHolder="Sélectionnez un agent" formControlName="associateTo">
        @for (item of listAgents; track item.userId) {
          <nz-option nzLabel="{{ item.firstName }} {{ item.lastName }} {{ item.role == 1 ? '(Agent)':'(Superviseur)' }}" nzValue="{{ item.userId }}"></nz-option>
        }
      </nz-select>
      <div *ngIf="formTicket['associateTo']?.invalid && isSubmitTicketForm" class="error">
        <small *ngIf="formTicket['associateTo'].errors">associate is required.</small>
      </div>
    </div>
    <div class="form-group">
      <label for="sujet">Call Id: {{ticketForm.get('callId')?.value}}</label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!ticketForm.get('callId')?.value">Associer un ticket</button>
  </form>
</div>